################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

## Pastas de compilação do .NET - ESSENCIAL ADICIONAR ISSO ##
[Bb]in/
[Oo]bj/

# Outras pastas e arquivos comuns a serem ignorados
/packages
/Properties