@page
@model A1.Pages.Reservas.CreateModel
@{
    ViewData["Title"] = "Fazer Reserva";
}

<h1>Fazer uma Reserva</h1>
<p>As reservas estão disponíveis apenas para o jantar, entre as 19:00 e 22:00.</p>
<hr />

<div class="row">
    <div class="col-md-6">

        @if (!string.IsNullOrEmpty(Model.MensagemSucesso))
        {
            <div class="alert alert-success" role="alert">
                <h4>Reserva Confirmada!</h4>
                <p>@Model.MensagemSucesso</p>
                <p>Bom jantar!</p>
            </div>
        }

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Input.Data" class="form-label"></label>
                <input asp-for="Input.Data" class="form-control" />
                <span asp-validation-for="Input.Data" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Input.Horario" class="form-label"></label>
                <input asp-for="Input.Horario" class="form-control" />
                <span asp-validation-for="Input.Horario" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Input.NumeroPessoas" class="control-label"></label>
                <input asp-for="Input.NumeroPessoas" class="form-control" />
                <span asp-validation-for="Input.NumeroPessoas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Confirmar Reserva" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}